@page
@model Synthesis_Website.Pages.TournamentPages.TournamentModel
@{
}

<div >

	<h2 class="d-flex justify-content-center">@Model.Tournament.Name</h2>
	<br>
	<h4 class="d-flex justify-content-center">@Model.Tournament.StartTime</h4>
	<br>

	<h4 class="d-flex justify-content-center">@Model.Tournament.Address</h4>
	<br>

	<h4 class="d-flex justify-content-center">MaxPlayers: @Model.Tournament.MaxPlayers</h4>
	<br>

	<p class="d-flex justify-content-center">@Model.Tournament.Information</p>
	<br>

</div>
